@value makerWhite from  '../../../common/colors.css';
@value fontBig from  '../../../common/size.css';

.home {
}
.title {
  display: flex;
}
.titleText {
}
.addBtn {
  border: solid 1px makerWhite;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: makerWhite;
}
.addBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
