@value makerWhite from  '../../../common/colors.css';
@value fontBig from  '../../../common/size.css';

.home {
}
.title {
  display: flex;
  margin-bottom: 2em;
}
.titleText {
  font-size: fontBig;
}
.addBtn {
  border: solid 1px makerWhite;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: makerWhite;
  margin-left: 2em;
}
.addBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
