@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';

.app {
  color: makerBlack;
  height: 100vh;
  display: flex;
}

.main {
  width: auto;
  padding: 2em;
}
