@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';

.app {
  background-color: white;
  color: makerBlack;
  height: 100vh;
  display: flex;
}

.main {
  flex-basis: 85%;
  padding: 2em;
}
