@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value makerLightGrey from  '../../common/colors.css';
@value makerGrey from  '../../common/colors.css';
@value fontBigg from  '../../common/size.css';
@value fontMedium from  '../../common/size.css';
@value fontMediumm from  '../../common/size.css';
@value fontSmall from  '../../common/size.css';

.screen {
  display: flex;
  justify-content: center;
}
.btn {
  margin-right: 1em;
}
