@value makerWhite from  '../common/colors.css';
@value fontBigg from  '../common/size.css';
@value fontBig from  '../common/size.css';

.login {
  background: rgb(127, 2, 204);
  background: linear-gradient(
    180deg,
    rgba(127, 2, 204, 1) 41%,
    rgba(21, 46, 144, 1) 78%,
    rgba(19, 31, 106, 1) 95%
  );
  padding: 1em 1.5em;
  color: makerWhite;
}

.loginMain {
  padding: 10em 0;
}

.mainTitle {
  font-size: fontBig;
  width: 60%;
  margin: auto;
}
