.shareSec {
  display: flex;
}
.qr {
  width: 3em;
  height: 3em;
  background-color: aqua;
  margin-bottom: 3em;
  width: 50%;
}
.url {
  font-size: 2rem;
  width: 50%;
}
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  background-color: bisque;
  border: 1px white solid;
  border-radius: 5px;
}
