.shareSec {
  display: flex;
}
.qr {
  width: 3em;
  height: 3em;
  background-color: aqua;
  margin-bottom: 3em;
}
.url {
  font-size: 2rem;
}
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  background-color: bisque;
}
