@value makerWhite from  '../../common/colors.css';
@value fontBig from  '../../common/size.css';

.results {
  height: 30em;
  background: rgb(127, 2, 204);
  background: linear-gradient(
    180deg,
    rgba(127, 2, 204, 1) 41%,
    rgba(21, 46, 144, 1) 78%,
    rgba(19, 31, 106, 1) 95%
  );
}
.searchBar {
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
}
.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 0.6em 1em;
}
.index {
  flex-basis: 10%;
}
.name {
  flex-basis: 50%;
}
.name2 {
  flex-basis: 45%;
}
.artist2 {
  flex-basis: 25%;
}
.appliance {
  flex-basis: 10%;
}
.artist {
  flex-basis: 30%;
}
.btn {
  flex-basis: 10%;
}
.searchBtns {
  display: flex;
  justify-content: end;
}
.pageTitle {
  display: flex;
}
.pageTitleText {
  font-size: fontBig;
}
