@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value makerLightGrey from  '../../common/colors.css';
@value makerGrey from  '../../common/colors.css';
@value fontBigg from  '../../common/size.css';
@value fontMedium from  '../../common/size.css';
@value fontMediumm from  '../../common/size.css';
@value fontSmall from  '../../common/size.css';

.result {
  display: flex;
  flex-direction: row;
  color: makerWhite;
  background-color: makerBlack;
  border-radius: 15px;
  margin-bottom: 1em;
  font-size: fontMedium;
}
.index {
  flex-basis: 10%;
}
