@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value makerLightGrey from  '../../common/colors.css';
@value makerGrey from  '../../common/colors.css';
@value fontBigg from  '../../common/size.css';
@value fontMedium from  '../../common/size.css';
@value fontMediumm from  '../../common/size.css';
@value fontSmall from  '../../common/size.css';

.result {
  display: flex;
  flex-direction: row;
  color: makerWhite;
  background-color: makerBlack;
  border-radius: 15px;
  margin-bottom: 1em;
  font-size: fontMedium;
  justify-content: space-between;
  padding: 1em 0.5em;
  text-align: center;
}
.result > p {
  display: block;
}
.index {
  flex-basis: 10%;
}
.name {
  flex-basis: 40%;
}
.artist {
  flex-basis: 30%;
}
.btn {
  flex-basis: 20%;
}
