@value makerWhite from  '../../common/colors.css';

.navbar {
  display: flex;
  align-items: center;
  color: makerWhite;
  padding: 1em;
}
.logo {
  display: flex;
}
.menu {
  display: flex;
}
.button {
  background: none;
  border: none;
  color: makerWhite;
  cursor: pointer;
}
.button:hover {
  transform: scale(1.2);
}
