@value makerWhite from  '../../common/colors.css';
@value fontBigg from  '../../common/size.css';
@value fontMedium from  '../../common/size.css';

.navbar {
  display: flex;
  align-items: center;
  color: makerWhite;
  padding: 1em 1.5em;
}
.logo {
  display: flex;
  flex-basis: 30%;
  font-size: fontBigg;
}
.menu {
  display: flex;
  flex-basis: 70%;
  justify-content: space-between;
  margin: 0 20em;
}
.button {
  background: none;
  border: none;
  color: makerWhite;
  cursor: pointer;
  font-size: fontMedium;
}
.button:hover {
  transform: scale(1.2);
}
