@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value makerLightGrey from  '../../common/colors.css';
@value makerGrey from  '../../common/colors.css';
@value fontBigg from  '../../common/size.css';
@value fontMedium from  '../../common/size.css';
@value fontMediumm from  '../../common/size.css';
@value fontSmall from  '../../common/size.css';

.sideBar {
  flex-basis: 15%;
  padding: 1em;
  background-color: makerBlack;
  color: makerWhite;
}
.logo {
  display: flex;
  font-size: fontBigg;
}
.category {
  color: makerLightGrey;
  font-size: fontMediumm;
  text-align: center;
}

.listBtn {
  background-color: rgba(151, 149, 149, 0.3);
  border: none;
  border-radius: 10px;
  height: 2.4em;
  width: 100%;
  font-size: fontMedium;
  color: makerWhite;
}
.list > li {
  width: 100%;
}
