@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';
@value fontBigg from  '../../common/size.css';
@value fontMedium from  '../../common/size.css';

.sideBar {
  flex-basis: 15%;
  padding: 1em;
  background-color: makerWhite;
  color: makerBlack;
}
.logo {
  display: flex;
}

.listBtn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  width: 100%;
  font-size: fontMedium;
}
.list > li {
  width: 100%;
}
