@value makerWhite from  '../../common/colors.css';

.sideBar {
  flex-basis: 15%;
  padding: 1em;
  background-color: makerWhite;
}

.listBtn {
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
}
.list > li {
  width: 100%;
}
