@value makerWhite from  '../../common/colors.css';
@value makerBlack from  '../../common/colors.css';

.appDescription {
  margin: 5em 10em;
  color: makerBlack;
  border-radius: 20%;
  background-color: makerWhite;
}
